@import url('https://fonts.googleapis.com/css?family=Lato');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #37465b;
  font-family: 'Lato', sans-serif;
}

.main-header {
  text-align: center;
  color: #fff;
  font-size: 42px;
}

.main-section {
  background: white;
  border-radius: 4px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.app-loader div {
  margin: 40px auto;
}

.search-form {
  margin-top: 20px;
  text-align: center;
}

.search-formInput {
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.search-results {
  margin-top: 30px;
}

.search-resultWrapper {
  padding: 0 10px 10px;
}

.search-result {
  padding: 10px;
  background: white;
  border-radius: 4px;
}

.search-resultImg {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .search-resultWrapper {
    float: left;
    padding: 0 10px 10px;
    width: 33.3333%;
  }
}
